trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

pool:
  name: bestrong-selfhosted   # <-- назва твого agent pool

variables:
  TF_DIR: 'infra'
  TF_IN_AUTOMATION: 'true'

stages:
- stage: PR_Check
  displayName: PR - terraform init/validate/plan
  condition: eq(variables['Build.Reason'], 'PullRequest')
  jobs:
  - job: plan
    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: Terraform plan
      inputs:
        azureSubscription: 'AZURE-SC-BESTRONG'
        scriptType: pscore
        scriptLocation: inlineScript
        addSpnToEnvironment: true
        inlineScript: |
          $ErrorActionPreference = "Stop"

          $env:ARM_CLIENT_ID       = $env:servicePrincipalId
          $env:ARM_CLIENT_SECRET   = $env:servicePrincipalKey
          $env:ARM_TENANT_ID       = $env:tenantId
          $env:ARM_SUBSCRIPTION_ID = (az account show --query id -o tsv)

          terraform -chdir=$(TF_DIR) init -input=false
          terraform -chdir=$(TF_DIR) validate
          terraform -chdir=$(TF_DIR) plan -input=false

- stage: Main_Deploy
  displayName: main - terraform init/validate/apply
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - job: apply
    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: Terraform apply
      inputs:
        azureSubscription: 'AZURE-SC-BESTRONG'
        scriptType: pscore
        scriptLocation: inlineScript
        addSpnToEnvironment: true
        inlineScript: |
          $ErrorActionPreference = "Stop"

          $env:ARM_CLIENT_ID       = $env:servicePrincipalId
          $env:ARM_CLIENT_SECRET   = $env:servicePrincipalKey
          $env:ARM_TENANT_ID       = $env:tenantId
          $env:ARM_SUBSCRIPTION_ID = (az account show --query id -o tsv)

          terraform -chdir=$(TF_DIR) init -input=false
          terraform -chdir=$(TF_DIR) validate
          terraform -chdir=$(TF_DIR) apply -input=false -auto-approve
